body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
    font-family: Arial, sans-serif;
}
#displayTime{
    color: black;
}
.stopwatch {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(images/background.png);
}

h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

.buttons img {
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}
